<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ce1111" />
    <meta name="description" content="Sebuah website yang membantu dalam manemukan tempat makan favoritmu" />
    <link rel="manifest" href="./app.webmanifest" crossorigin="use-credentials" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
    <link rel="icon" href="./icon.png" />
    <title>Tracycle</title>
  </head>

  <body>
    <a href="#maincontent" class="skip-link">Skip to Content</a>
    <header>
      <button id="menu" aria-label="button to open side menu" class="hamburger">☰</button>
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li>
          <a href="#"><img src="./icons/logo.png" alt="Tracycle Image" class="header__image" /></a>
        </li>
        <li class="nav__item"><a href="#">Beranda</a></li>
        <li class="nav__item"><a href="#/bank-sampah">Bank Sampah</a></li>
        <li class="nav__item"><a href="#/favorites">Daur Ulang</a></li>
        <li class="nav__item"><a href="https://instagram.com/dnaprmdi?igshid=ZDdkNTZiNTM=" target="__blank">Tentang</a></li>
        <li class="nav__item"><a href="#/favorites">Kontak</a></li>
      </ul>
    </nav>
    
    <main id="maincontent"></main>

    <!-- Footer -->
    <footer>
      <div class="container_footer">
        <div class="footer-content">
          <div class="identitas_footer">
            <img class="logo_footer" src="./icons/logo_white.png" alt="Logo Tracycle" />
            <div class="deskripsi_footer">
              <p>
                TRACYCLE adalah platform inovatif yang memfasilitasi pengelolaan sampah secara praktis dan efisien melalui
                transaksi digital.
              </p>
            </div>
          </div>
          <div class="footer-links">
            <ul>
              <li><a href="#">Beranda</a></li>
              <li><a href="#">Bank Sampah</a></li>
              <li><a href="#">Daur Ulang</a></li>
              <li><a href="#">Tentang</a></li>
              <li><a href="#">Kontak</a></li>
            </ul>
          </div>
        </div>
        <div class="social-media">
          <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
          <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fa fa-instagram"></i></a>
        </div>
        <p class="copyright">Hak Cipta &copy; 2023 Tracycle</p>
      </div>
    </footer>
  </body>
</html>
